
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	
			
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
				
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
