---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello Racefan!</h1>
			<p>
				Welcome to the official Stockcar.info page. 
			</p>
			<img src="20261.jpg" alt="20261">
			
		</main>
		<Footer />
	</body>
</html>
