photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.photo-item {
  img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  p {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
